tr.greenrow {
	background-color: lime;
}

tr.bluerow{
	background-color: aqua;
}

td.sidetitle{
	font-style: italic;
}

td.firstnonheader{
	color: red;
}

td.thirdnonheader{
	color: blue;
}

dt:hover + dd{
	background: purple;	
}

.outer-container{
	position: fixed;
	width: 75%;
	background-color: pink;
	height: 100px;
	margin-top: 20px;
	
	


}

.inner-container{
	position: relative;
	width: 75%;
	height: 50%;

	background: aqua;
	top: 25%;
	margin: 0 auto;
	
	text-align: center;
	vertical-align: middle;
}

.wrappum{
	float: left;
}